* {
  
    
    color: black;
    font-family: 'Montserrat', sans-serif;
    
    }
    .btn {
        background: black;
        color: white;
        border: solid;
    }
    
    body {
        background: url('./images/gry.jpeg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    .footer {
        color: white;
    }


